# Function
export(PC_VS)
export(KMEANS_VS)
export(YinsPredictor)
export(YinsPredictor_RNN)
export(Naive_Bayes_Classifier)
export(Adaboost_Classifier)
export(Bagging_Classifier)
export(Gradient_Descent_Classifier)
export(Gradient_Descent_Predictor)
export(Gradient_Boosting_Machine_Classifier)
export(Gradient_Boosting_Machine_Predictor)
export(Support_Vector_Machine_Classifier)
export(Support_Vector_Machine_Predictor)
export(Random_Forest_Classifier)
export(iter_Random_Forest_Classifier)
export(Bayesian_Additive_Regression_Tree_Classifier)
export(Bayesian_Additive_Regression_Tree_Predictor)
export(Linear_Regression_Predictor)
export(Logistic)
export(Logistic_Classifier)
export(Lasso_Ridge_Logistic_Classifier)
export(Lasso_Ridge_Regression_Predictor)
export(QP_Solver_Classifier)
export(KerasNN)
export(KerasC2NN3)
export(KerasC6NN3)
export(KerasNN10)
export(KerasDenseNet)
export(KerasMobileNet)
export(KerasVGG16)
export(job_finished_warning)
